{% include 'shared/header.html.twig' %}
<div class="container-fluid" style="text-align: center;">
    <div class="row">
        <div class="col-md-12">
            <h1>Calculador provincial en funcion codigo postal</h1>
            <div class="well well-lg">

                <form id="calcForm" action="" method="post">
                    <div class="input-group input-group-lg">
                        <input pattern="[0-9]{5,}" required title="5 numeros mínimo"  maxlength="5" type="text" name ="code" class="form-control" placeholder="introduce codigo postal" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Go!</button>
                        </span>
                    </div>
                </form>
            </div>
            {% if code_set == '1' %}
                <h4>Provincia</h4>
                <p>{{ postal_code }}</p>
                <h4>Código introducido</h4>
                <p>{{ country_code }}</p>
            {% endif %}

        </div>
    </div>
</div>
{% include 'shared/footer.html.twig' %}
</body>
</html>