{% embed 'shared/header.html.twig' %}
    {% block aditional_styles %}
        <style>
            img
            {
                max-width: 230px;
            }
        </style>
        <link rel="stylesheet" type="text/css" href="http://css.{{ server_name }}/comp_jqcloud.css" />
    {% endblock %}
{% endembed %}
<div class="container-fluid">

<div class="jumbotron">
    <h1>Performance</h1>
    <p>MPWAR subject to learn how to ensure best web services in terms of performance.</p>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Listado de provincias</h3>
            </div>
            <div class="panel-body">
                {% for provincia in provincias %}
                    <span style="font-size: 150%">·</span>
                    <a href="/municipios/{{ provincia.url }}:1">{{ provincia.provincia }}  </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h3 class="panel-title">Top Codigos Postales ultima semana</h3>
        <div id="example" style="width: 550px; height: 250px;"></div>
    </div>
    <div class="col-md-4"></div>
</div>
<div class="row">
        <div class="col-md-12" >
            <h1>
                Imagenes
            </h1>
            <img src="http://img.{{ server_name }}/asd.jpg" class="img-rounded">
            <img src="http://img.{{ server_name }}/asdasd.jpg" class="img-rounded">
            <img src="http://img.{{ server_name }}/geek31.png" class="img-rounded">
            <img src="http://img.{{ server_name }}/sexoGeek.jpg" class="img-rounded">
            <img src="http://img.{{ server_name }}/vacances.jpg" class="img-rounded">
        </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h1>
            Lorem Ipsum
        </h1>
        <div class="well well-lg">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id imperdiet enim, quis mollis dui. Ut feugiat ligula nec facilisis tincidunt. Vestibulum luctus, quam a porta pulvinar, sapien nulla consectetur quam, vitae lobortis felis nunc eu risus. Donec dapibus magna id hendrerit feugiat. Curabitur hendrerit mi id pulvinar interdum. Duis condimentum pretium lacus vel imperdiet. Duis nec nisi a velit vulputate malesuada. Donec fermentum nibh pretium, mattis neque tincidunt, cursus orci. Duis viverra erat sapien, ac fringilla nunc pretium a. Maecenas mollis risus sit amet nisl convallis adipiscing. Nunc ac arcu ac libero hendrerit porta ut non turpis. Fusce quam est, mattis nec est ut, vestibulum imperdiet neque. Donec elementum dignissim dolor, non semper est viverra et. Sed auctor ligula erat.

            Etiam venenatis adipiscing convallis. Curabitur elementum faucibus mi non mollis. Curabitur blandit tortor eget venenatis accumsan. Phasellus sagittis ipsum mi, ut condimentum dolor ultricies vel. Quisque convallis, erat ut egestas faucibus, eros massa condimentum nulla, non accumsan nunc augue eget neque. Vivamus sit amet mollis neque. Curabitur cursus sit amet massa ac eleifend. Integer blandit, enim quis faucibus scelerisque, tellus justo rutrum arcu, eu pretium augue orci hendrerit justo. Aliquam vitae scelerisque lectus. Proin non dui sed quam vehicula ullamcorper. Nullam ut sodales urna. Maecenas a dictum lacus. Nulla facilisi. Curabitur libero leo, mattis quis tristique sit amet, fringilla id odio.

            Duis rhoncus dui est, et dapibus nisl gravida nec. Vivamus ut odio justo. Proin semper odio libero, id adipiscing eros congue ut. Donec euismod sodales faucibus. Nullam id consequat nisl. Aenean nec mattis sapien, at venenatis nibh. Nunc bibendum, risus quis mattis aliquet, lacus turpis lobortis tortor, a ornare arcu urna id magna. Cras lacus augue, rhoncus sit amet sapien ac, convallis ultricies magna. Sed vitae lacus sapien. Nunc varius, neque eget iaculis placerat, felis nisi pretium sem, id tristique diam ligula nec est. Etiam sit amet dapibus tortor. Vestibulum quis arcu dolor. Mauris congue sit amet nisi id sodales. Donec enim sapien, vestibulum id velit id, faucibus mollis lectus.

            Nam egestas pharetra consequat. Nullam tincidunt gravida dui, non lobortis turpis ullamcorper in. Ut ullamcorper magna nec porta laoreet. Suspendisse eros elit, varius ut orci sed, pellentesque sollicitudin felis. Vestibulum ornare suscipit dui et pellentesque. Nunc in nulla sit amet orci lacinia auctor. Phasellus ut mauris scelerisque, posuere odio tempus, suscipit purus. Integer aliquet commodo magna in pretium. Nam mattis ultrices erat a mattis. Donec lobortis, massa nec ornare cursus, magna orci pretium massa, in malesuada felis magna sed magna. Proin facilisis gravida lectus, id imperdiet leo porttitor eu. Donec pellentesque posuere nisl eu mollis. Mauris in sapien arcu. Duis interdum pretium consectetur. Aenean a feugiat mauris. Praesent vel dignissim magna.

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lorem mi, vestibulum at ullamcorper sed, vestibulum in ligula. Nunc nec ultrices nisi, eu volutpat ipsum. In elit est, laoreet in interdum vitae, aliquam imperdiet nisi. Morbi nibh odio, bibendum id convallis sed, tempor rutrum tellus. Nam ut imperdiet quam, vitae facilisis felis. Nullam vel quam suscipit, semper enim ut, interdum nisl. Maecenas quam nibh, rhoncus sed mauris vel, posuere tempor nisi. Pellentesque quis neque ac neque feugiat accumsan ac sed lacus. Suspendisse et convallis sapien, id placerat erat. Ut feugiat in nibh in viverra.

            Donec tortor urna, molestie sed nisi vel, pretium suscipit felis. Sed nec felis congue massa dignissim ornare. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis congue tempor. Morbi varius volutpat ultricies. Suspendisse ante nibh, semper non dapibus ut, lacinia id nibh. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce sit amet auctor ligula. Mauris ipsum erat, pretium vel rhoncus in, bibendum at massa. Integer lobortis lacus quis elit scelerisque mattis. Fusce cursus lobortis ipsum, quis ullamcorper velit scelerisque ac. Nulla suscipit turpis nulla, a pellentesque lectus tincidunt sit amet. Donec rhoncus aliquam urna, feugiat luctus mi varius sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod ac felis a ornare. Fusce sapien elit, malesuada quis arcu at, eleifend feugiat purus.

            Nullam malesuada ut nisi sit amet tincidunt. Nam orci diam, dictum a purus quis, auctor feugiat tortor. Sed dictum turpis et lacus cursus, eget ultrices mi congue. Nulla pharetra, felis eget tincidunt hendrerit, metus.
        </p>
        </div>
    </div>
</div>
</div>
{% embed 'shared/footer.html.twig' %}
    {% block aditional_js %}
        <script type="text/javascript" src="http://js.{{ server_name }}/comp_jqcloud-1.0.4.js"></script>
    {% endblock %}
    {% block aditional_js_code %}

        var top_results = {{ top_results|json_encode|raw }};
        var word_array = [];
        for(var x = 0; x < top_results.length; x++)
        {
        word_array.push({text: top_results[x][0], weight: top_results[x][1], link: "http://framework.local/calculadora-provincial/"+top_results[x][0]})
        }

        $(function() {
        // When DOM is ready, select the container element and call the jQCloud method, passing the array of words as the first argument.
        $("#example").jQCloud(word_array);
        });

    {% endblock %}
{% endembed %}

</body>
</html>