{% include 'shared/header.html.twig' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="text-align: center;">

            <h1>Provincia de {{ provincia }}</h1>

            <h2>Listado de municipios</h2>

            {% for municipio in municipios %}
                {#<p>{{ municipio.nombre }}</p>#}
                <p>{{ municipio.attrs.municipio }}</p>
            {% endfor %}
            <p>page: {{ page }}</p>
            <ul class="pagination pagination-sm">

            {% if page != '1' %}
                <li><a href="{{ prev_page }}">&laquo;</a></li>

            {% endif %}
            {% for i in range(1, total_pages) %}
                {% if i  ==  page  %}
                    <li class="active"><a href="{{ url }}{{ i }}">{{ i }}</a></li>
                {% else %}
                    <li><a href="{{ url }}{{ i }}">{{ i }}</a></li>
                {% endif %}

            {% endfor %}
            {% if page != total_pages %}
                <li><a href="{{ next_page }}">&raquo;</a></li>
            {% endif %}
            </ul>
        </div>
    </div>
</div>
{% include 'shared/footer.html.twig' %}
</body>
</html>

