<script type="text/javascript" src="http://js.{{ server_name }}/jquery-1.11.0.min.js"></script>
    {% block aditional_js %}
    {% endblock %}
<script type="text/javascript" src="http://js.{{ server_name }}/comp_typeahead.js"></script>
<script>
    var searchInput = document.getElementById("searchInput"),
            data = [];
    searchSubmit = document.getElementById("search");
    searchSubmit.addEventListener("click" , search );
    //        searchInput.addEventListener("keydown" , autoComplete );

    function search(e)
    {
        e.preventDefault();
        e.stopPropagation();
        window.location.href = '/search/?query='+searchInput.value+'&page=1';
//            alert(searchInput.value);
    }
    {% block aditional_js_code %}
    {% endblock %}
    $('#searchInput').typeahead({
        items:10,
        source: function(query, process) {
            var httpRequest,
                    params = "search="+query;

            if (window.XMLHttpRequest) { // Mozilla, Safari, ...
                httpRequest = new XMLHttpRequest();
            } else if (window.ActiveXObject) { // IE 8 and older
                httpRequest = new ActiveXObject("Microsoft.XMLHTTP");
            }
            httpRequest.onreadystatechange = function(){
                // process the server response
                if (httpRequest.readyState === 4) {
                    // response is received

                    if (httpRequest.status === 200) {
                        // status ok
                        data =  JSON.parse(httpRequest.responseText);
                        process(data);

                    } else {
                        //other headers
                    }
                } else {
                    // still not ready
                }

            };
            httpRequest.open('POST', '/autocomplete', true);
            httpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            httpRequest.send(params);
        },
        autoSelect:false
    });

</script>